<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/index.css" type="text/css">
  
  <title>GAMING BLOG</title>
</head>
<body>
  <div id="grid-container">
    <nav>
      <div id="nav-flex-title">
        <div id="title">GAMING BLOG</div>
      </div>
      <ul id="nav-flex-menu">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog-post">About ME</a>
        </li>
      </ul>
    </nav>
    <section id="top-post">
      <div class="text-gradient">
        <a href="blog-post.html" alt="" class="link">
          <h3>Counter-Strike: Global Offensive</h3>
          <p class="post-info"><em>Sourav Saha | 2020/05/13</em></p>
        </a>
        <p>
          Counter-Strike: Global Offensive is a multiplayer first-person shooter video game developed by Valve and Hidden Path Entertainment. It is the fourth game in the Counter-Strike series and was released for Windows, OS X, Xbox 360, and PlayStation 3 in August 2012, while the Linux version was released in 2014. 
        </p>
        <a href="/blog-post" alt="">
          <div class="btn btn-primary">Read more
          </div>
        </a>
      </div>
    </section>
    <section class="post" id="post-1">
      <a href="#" alt="" class="link">
        <div class="text-gradient">
          <h3>Call of Duty: Warzone</h3>
          <p class="post-info"><em>Sourav saha | 2020/05/13</em><br>Call of Duty: Warzone is a free-to-play battle royale video game released on March 10, 2020</p>
        </div>
      </a>
    </section>
    <section class="post" id="post-2">
      <a href="#" alt="" class="link">
        <div class="text-gradient">
          <h3>PUBG</h3>
          <p class="post-info"><em>Sourav Saha | 2020/05/13</em><br>PlayerUnknown's Battlegrounds is an online multiplayer battle royale game developed and published by PUBG Corporation</p>
        </div>
      </a>
    </section>
    <section class="post" id="post-3">
      <a href="#" alt="" class="link">
        <div class="text-gradient">
          <h3>DOTA-2</h3>
          <p class="post-info"><em>Sourav Saha | 2020/05/10</em><br>Dota 2 is a multiplayer online battle arena video game developed and published by Valve.</p>
        </div>
      </a>
    </section>
    <section class="post" id="post-4">
      <a href="#" alt="Valorant" class="link">
        <div class="text-gradient">
          <h3>Valorant</h3>
          <p class="post-info"><em>Sourav Saha | 2020/05/10</em><br>Valorant is an upcoming free-to-play multiplayer first-person shooter developed and published by Riot Games. </p>
        </div>
      </a>
    </section>
    <section class="post" id="post-5">
      <a href="#" alt="Call of Duty: Mobile" class="link">
        <div class="text-gradient">
          <h3>Call of Duty: Mobile</h3>
          <p class="post-info"><em>Sourav Saha | 2020/05/09</em><br>Call of Duty: Mobile is a free-to-play first-person shooter developed by TiMi Studios</p>
        </div>
      </a>
    </section>
    <section id="newsletter">
      <form action="#">
      <h3>Subscribe to our GAMINGBLOG</h3>
      <div class="newsletter-container">
        <div class="newsletter-element">
          <input type="text" placeholder="Name" name="name" required>
        </div>
        <div class="newsletter-element">
          <input type="text" placeholder="Email address" name="mail" required>
        </div>
        <div class="newsletter-element">
          <input type="submit" value="Subscribe">
        </div>
      </div> <!-- newletter container -->
      </form>
    </section> <!-- newsletter -->
    <footer>
      <em>Design by Sourav Saha, 2020.</em>
      <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
    </footer>
  </div> <!-- grid container -->
</body>
</html>
